.crystal {
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    background-color: black;
    padding: 3%;
    font-size: 50px;
}

.body {
    font-family: 'Buda', cursive;
    color: white;
    background-color: black;
    text-align: center;
    padding: 3%;
    margin: 3%;
    font-size: 20px;
}

.container p {
    font-family: 'Buda', cursive;
  margin-bottom: 20px;
}

img {
  height: 90px;
  margin-right: 2%;
}

.scores {
    font-family: 'Buda', cursive;
    color: white;
    background-color: black;
    text-align: center;
    margin: 3%;
    font-size: 20px;
}


.score{
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    background-color: black;
    margin: 3%;
    padding: 3%;
    font-size: 20px;
}
.wins {
    float: left;
    margin-top: 20px;
    
}

.losses {
    float: right;

}

body {
  background-image: url("../images/back1.gif");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}