.crystal {
    color: white;
    text-align: center;
    background-color: cadetblue;
    padding: 3%;
    font-size: 50px;
}

.body {
    color: white;
    background-color: cadetblue;
    text-align: center;
    padding: 3%;
    margin: 3%;
    font-size: 20px;
}

.container p {
  margin-bottom: 20px;
}

img {
  height: 90px;
  margin-right: 2%;
}

.scores {
    color: white;
    background-color: cadetblue;
    text-align: center;
    margin: 3%;
    font-size: 20px;
}


.score{
    color: white;
    text-align: center;
    background-color: cadetblue;
    margin: 3%;
    padding: 3%;
    font-size: 20px;
}
.wins {
    float: left;
}

.losses {
    float: right;
}
